* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import 'partials/_nav.scss';

$main-color: lightblue;
$font-stack: Helvetica, sans-serif;
$border: 3px solid #333;
$text-color: white;


@mixin themeable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg) {
    .#{$theme-name} {
        div {
            background-color: $container-bg;
            border: $border;
            display: flex;
            height: 500px;
            justify-content: space-between;
            margin: 0 auto;
            padding: 1em;
            width: 90%;
            * {
                color: $innertext;
                font-size: 2rem;
            }
            .left {
                background-color: $left-bg;
                height: 100%;
                width: 70%;
                button {
                    background-color: $button-bg;
                    border: 0;
                    border-radius: 10px;
                    bottom: 10px;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 1rem 2rem;
                    right: 10px;
                }
            }
            .right {
                @extend .left;
                width: 28%;
                position: relative;
            }
        }
    }
}

@include themeable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49);
@include themeable(theme-2, #e4ada7, #d88880, #cc6359, #fff, #481b16);

div{

    @import 'partials/_list.scss';

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: $font-stack;
    section {
        width: 300px;
        height: 400px;
        background-color: $main-color;
        border: $border;
        border-radius: 10px;
        padding: {
            top: 10px;
            left: 5px;
            bottom: 30px;
            right: 10px;
        }

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        button {
            background-color: $main-color;
            border: $border;
            border-radius: 10px;
            // height: 25px;
            margin: 5px;
            outline: none;
            &:active {
                background-color: darkorchid;
                border: 2px solid red;
            }
            &#testing {
                align-self: flex-end;
            }
        }
        #submit {
            justify-content: flex-end;
            align-self: flex-end;
        }
    }
}