nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        text-decoration: none;
        list-style: none;
        background-color: black;
        color: honeydew;
        text-align: center;
        height: 50px;
        align-items: center;
    }
    margin-bottom: 10px;
}