// Main styles
*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styles
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5;
}

// Header component styles
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;

  button {
    height: 50px;
    width: 100px;
    background-color: red;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
  }
}

// Task item components
.task {
  background-color: #EEE;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.remind {
    border-left: solid 5px green;
  }
}
